img{
  width: 600px;
  aspect-ratio: 16/9;
  display: none;
  margin: 0 auto;
  
}
img.active{
  display: block;
}

.container{
  margin: 0 auto;
  width: 900px;
  margin-top: 100px;
  text-align: center;
}